.about{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--lightGrey);
    padding: 7%;
    background-color: var(--colorCharcoal);
}

.about__img{
    border-radius: 250px;
    overflow: hidden;
    width: 250px;
    height: 250px;
    box-shadow: var(--level-6);
}

.about__title{
    
    color: var(--darkGrey) ;
    padding: 10% 5% 0 5%;
}

div> h4 + h6{
    --smallLineHeight: 1.5;
    line-height: var(--smallLineHeight);
}

.about__div2__title{
    text-align: center;
    display: flex;
    justify-content: center;
}

.about__div2__p{
    --smallText: 1em;
    padding: 2% 0 0 0;
    text-align: justify;
    font-size: var(--smallText);
}

.socialMedia{
    padding: 0 0 0 5%;
}/*

@media only screen and (min-width: 360px){
    .about{
        min-height: 90vh;
    }
  }

@media only screen and (min-width: 400px){
    .about{
        min-height: 80vh;
    }
  }

  @media only screen and (min-width: 500px){
    .about{
        min-height: 70vh;
    }
  }
*/
  @media only screen and (min-width: 768px){
    /*.about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        min-height: fit-content;
    }*/
    .about__div2{
        max-width: 50vw;
    }

    .about__div2__p{
        text-align: center;
        --smallText: 0.95em;
        font-size: var(--smallText);
    }
    .about__title{
        --smallLineHeight: 1.1;
        line-height: var(--smallLineHeight);
        padding: 0 0 3% 0;
    }
    .about{
        padding: 3%;
    }
  }