.footer{
    margin-top: 5em;
    background-color: var(--colorDarkBrown);
    padding: var(--globalSpacing) var(--globalSpacing) 0 var(--globalSpacing);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer >div + div{
    margin-top: var(--globalSpacing);
}

.developer{
    font-size: var(--smallText);
    text-align: center;
}