/*======== IMPORTS ========*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

/*======= RESET ========*/

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/*======== GLOBAL VARIABLES ========*/
:root {
  
  /*Img*/
  --bgImage: url('../images/bg_1.jpg');
  --bgImage2: url('../images/bg_2.jpg');

  /*positioning*/
  --globalSpacing: 1.5rem;
  --smallSpacing: 0.8rem;
  --btnRadius: 1.2rem;
  --cardWidth: 400px;

  /*typography*/
  --fontSize: 100%;
  --lineHeight: 1.6;
  --smallLineHeight: 1;
  --smallText: 0.8em;
  --fontFamily: 'Inter', sans-serif;
  --h1: 3.052rem; 
  --h2: 2.588rem;
  --h3: 2.074rem;
  --h4: 1.728rem;
  --h5: 1.44rem;
  --h6: 1.2rem;

  /*Colors*/
  --darkGrey: #222;
  --colorCharcoal: #465362; 
  --colorDarkBrown: #141314;
  --lightGrey: #E7ECEF;
  --cardBg: rgb(241, 241, 241);

  /* Elevation */
  --level-1: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --level-2: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --level-3: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-4: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-5: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-6: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --level-7: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

body{
  font-family: var(--fontFamily) ;
  line-height: var(--lineHeight);
  font-weight: 500;
  font-size: var(--fontSize);
  background-color: var(--lightGrey);
  color: var(--lightGrey);
}

h1,
h2,
h3,
h4,
h5,
h6{
  --lineHeight: 2.0;
  line-height: var(--lineHeight);
}

h1{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
h4{
  font-size: var(--h4);
}
h5{
  font-size: var(--h5);
}
h6{
  font-size: var(--h6);
}

p{
  margin-bottom: 1.2rem;
}

/*======= BUTTONS ========*/
button{
  background-color: var(--colorDarkBrown);
  color: var(--lightGrey);
  font-family: var(--fontFamily);
  border-radius: var(--btnRadius);
  border: none;
  padding: 10px 25px;
  font-size: 100%;
  box-shadow: var(--level-5);
  transition: 0.3s ease-in-out;
  appearance: none;
  cursor: pointer;
}

button:hover{
  background-color: var(--colorCharcoal);
}
/*======== FORMS ========*/
label{
  display: block;
  margin: 0.5rem 0 0.5rem 0;
  font-size: var(--fontSize);
}


input,
textarea{
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
  border-radius: 10px;
  border: var(--lightGrey), solid, 1px;
  padding: 8px 20px;
  box-shadow: var(--level-4);
  width: 100%;
}


input[type = "file"] {
  box-shadow: none;
  border: none;
  padding: 12px 0px;
}

input[type = "file"]::file-selector-button {
  color: var(--lightGrey);
  background-color: var(--colorDarkBrown);
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

input[type = "file"]::before{
  content: "Subir imagen";
  font-size: var(--smallText);
  border-radius: var(--btnRadius);
  border: var(--colorDarkBrown);
  background-color: var(--colorDarkBrown);
  color: var(--lightGrey);
  padding: 10px 25px;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

input:hover::before{
 background-color: var(--colorCharcoal);
 border: var(--colorCharcoal);
}


select{
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
  border-radius: 10px;
  border: var(--lightGrey), solid, 1px;
  padding: 8px 20px;
  box-shadow: var(--level-4);
  width: 100%;
}

textarea{
  height: 10rem;
  resize: none;
  margin-bottom: 0.5rem;
}

/*======== LINKS ========*/
a{
  text-decoration: none;
  color: var(--darkGrey);
  color: #f5f5f5;
 transition: border-bottom 0.2s linear;
}
a:hover{
  border-bottom: 0.2rem solid var(--colorDarkBrown);
  
}

a:active{
  border-bottom: 0.2rem solid var(--colorCharcoal);
}

.nonStylizedLink:hover{
  border-bottom: 0px;
}

/*======== NAV ========*/

.logo:hover{
  border-bottom: 0px;
}

.logo__title{
  margin-left: var(--smallSpacing);
  font-size: var(--h6);
  line-height: var(--smallLineHeight);
}

.logo__img{
  height: 60px;
  width: 60px;
}

header {
  position: fixed;
  background-color: transparent;
  padding: var(--smallSpacing) var(--globalSpacing);
  width: 100%;
  height: 90px;
  transition: 0.3s ease-in-out;
}

.header-bg-light{
  background-color: var(--lightGrey);
  box-shadow: var(--level-5);
}
.header-bg-light > nav > a {
  color: var(--darkGrey);
}
.header-bg-light > div > h1 {
  color: var(--darkGrey);
}
.header-bg-light > .mobile-bar { 
  background: var(--colorDarkBrown);
}


.mobile-bar {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightGrey);
  position: fixed;
  right: 0;
  top: 0;
  width: 60%;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 101;
  padding-top: 2rem;
}

.nav-menu.open {
  transform: translateX(0);
}

.nav-menu > a {
  margin-top: var(--globalSpacing); 
  text-align: center;
  color: var(--darkGrey);
}

.nav-menu > a + a {
  margin-top: var(--globalSpacing);
}

.nav-menu > a + button {
  margin-top: var(--globalSpacing);
}

/*====== BACKDROP ======*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.308);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 100;
}

.backdrop.open {
  opacity: 1;
  visibility: visible;
}
/*======== HOME ========*/
.home{
  background-image: linear-gradient(#01193685 ,#4653627a), var(--bgImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: top;
  max-height: 100vh;
}

/*======== LAYOUT ========*/

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
 
}

.space-around{
  justify-content: space-around;
}

.content-center{
  justify-content: center;
}

.space-evenly{
  justify-content: space-evenly;
}


.center-items{
  align-items: center;
}

/*======== CARDS ========*/
.card{
  max-width: var(--cardWidth);
  border-radius: var(--btnRadius);
  box-shadow: var(--level-5);
  background-color: var(--lightGrey);
  color: var(--darkGrey);
  text-align: justify;
  padding: 5% ;
  margin: 0 5% 0 5%;
  background-color: var(--cardBg);
}

.card > p {
  text-align: justify;
}

.section-card{
  display: flex;
  justify-content: center;
  margin: 10% 0 10% 0;
}


/*======== CUSTOM STYLING ========*/
.section1{
  height: 100vh;
  padding: 0 6.7%;
}
.section1> div > h1{
  --lineHeight: 1.0;
  line-height: var(--lineHeight);
}

.section1 > div > div {
  padding: 5% 0 0 0;
}
.section2{
  display: block;
  background-color: var(--lightGrey);
  text-align: center;
}

/*======== MEDIA QUERIES ========*/

@media only screen and (min-width: 460px){
  .logo__title{
    font-size: var(--h5);
  }
}

@media only screen and (min-width: 916px)  {

  .mobile-bar {
    display: none;
  }

  .nav-menu {
    display: flex;
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    transform: none;
    height: auto;
    width: auto;
    background: none;
    padding-top: 0;
  }

  .backdrop {
    display: none;
  }


  .nav-menu > a + a{
    margin-left: 1.5rem;
    margin-top: 0;
  }
  
  .nav-menu > a + button{
    margin-left: 1.5rem;
    margin-top: 0;
  }

  .nav-menu > a {
    color: var(--lightGrey);
    margin-top: 0;
  }

 .nav-menu > button:first-child{
  display: none;
 }


}

@media only screen and (min-width: 720px){
  
 .section2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 75vh;
 }
 .section2 + .section2{
  height: 80vh;
 }

 .section-card{
  margin: 0px;
 }
}

@media only screen and (min-width: 800px) {
   .section2{
  height: 65vh;
 }
  .section2 + .section2{
    height: 70vh;
   }
}

@media only screen and (min-width: 1145px) {
  .section2{
    height: 55vh;
   }
  .section2 + .section2{
    height: 55vh;
   }
}