/*======== IMPORTS ========*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

/*======= RESET ========*/

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/*======== GLOBAL VARIABLES ========*/
:root {
  
  /*Img*/
  --bgImage: url('../images/bg_1.jpg');

  /*positioning*/
  --globalSpacing: 1.5rem;
  --smallSpacing: 0.8rem;
  --btnRadius: 1.2rem;

  /*typography*/
  --fontSize: 100%;
  --lineHeight: 1.6;
  --smallText: 0.8em;
  --fontFamily: 'Inter', sans-serif;
  --h1: 3.052rem; 
  --h2: 2.588rem;
  --h3: 2.074rem;
  --h4: 1.728rem;
  --h5: 1.44rem;
  --h6: 1.2rem;

  /*Colors*/
  --darkGrey: #222;
  --colorCharcoal: #465362; 
  --colorOxfordBlue: #011936;
  --color-tertiary: #BBBDF6;
  --lightGrey: #f5f5f5;

  /* Elevation */
  --level-1: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --level-2: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --level-3: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-4: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-5: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-6: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --level-7: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

body{
  font-family: var(--fontFamily) ;
  line-height: var(--lineHeight);
  font-weight: 500;
  font-size: var(--fontSize);
  background-color: var(--lightGrey);
  color: var(--lightGrey);
}

h1,
h2,
h3,
h4,
h5,
h6{
  --lineHeight: 2.0;
  line-height: var(--lineHeight);
}

h1{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
h4{
  font-size: var(--h4);
}
h5{
  font-size: var(--h5);
}
h6{
  font-size: var(--h6);
}

p{
  margin-bottom: 1.2rem;
}

/*======= BUTTONS ========*/
button{
  background-color: var(--colorOxfordBlue);
  color: white;
  font-family: var(--fontFamily);
  border-radius: var(--btnRadius);
  border: none;
  padding: 10px 25px;
  font-size: 100%;
  box-shadow: var(--level-5);
  transition: 0.3s ease-in-out;
  appearance: none;
}

button:hover{
  background-color: var(--colorCharcoal);
}
/*======== FORMS ========*/
label{
  display: block;
  margin-bottom: 0.3rem;
}

input,
textarea{
  font-size: var(--smallText);
  font-family: var(--fontFamily);
  border-radius: 3px;
  border: var(--lightGrey), solid, 1px;
  padding: 5px 10px;
  box-shadow: var(--level-4);
}
textarea{
  width: 100%;
  height: 5rem;
}

/*======== LINKS ========*/
a{
  text-decoration: none;
  color: var(--darkGrey);
  border-bottom: solid 0.2rem var(--colorOxfordBlue);
  color: #f5f5f5;
}
a:hover{
  border-bottom: solid 0.2rem var(--colorCharcoal);
  transition: 0.3s ease-in-out;
}

/*======== NAV ========*/

header{
  background-color: transparent;
  padding: var(--smallSpacing) var(--globalSpacing) 0 var(--globalSpacing);
  max-width: 100%;
}

nav > a + a{
  margin-left: 1.5rem;
}
nav > a + button{
  margin-left: 1.5rem;
}

nav > button{
  padding: 10px 25px;
  font-size: 1rem;
}

/*======== HOME ========*/
.home{
  background-image: linear-gradient(#01193685 ,#4653627a), var(--bgImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: top;
  max-height: 100vh;
}

/*======== LAYOUT ========*/

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
 
}

.space-around{
  justify-content: space-around;
}

.center-items{
  align-items: center;
}

/*======== MEDIA QUERIES ========*/
/*@media only screen and (min-width: 500px)  {
  .flex{
    display: flex;
  }
}*/

/*======== CUSTOM STYLING ========*/
.section1{
  height: 80vh;
  padding: 0 6.7%;
}
.section1> div > h1{
  --lineHeight: 1.0;
  line-height: var(--lineHeight);
}

.section2{
  padding: 0;
  background-color: #222;
}